<% if (site.categories.length && !is_post()){ %>
<div class="widget tag">
  <h3 class="title"><%= __('categories') %></h3>
  <ul class="entry">

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "Linux"){ %>
  <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "Java SE"){ %>
  <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "算法设计"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>
  
  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "数据结构"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>
  
  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "设计模式"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "杂记随笔"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "日常随笔"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "编程随笔"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "开发笔记"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <% site.categories.sort('path').each(function(item){ %>
  <% if (item.name == "源码笔记"){ %>
    <li><a href="<%- config.root %><%- item.path %>" style="width:50px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% } %>
  <% }); %>

  <li id="os_ul"><a href="#" style="width:50px; display:inline-block;">读书笔记</a><small>42</small></li>
  <ul id="os_li" class="entry_li" style="list-style: none; padding-left: 5px; display: none;">
      <% site.categories.sort('path').each(function(item){ %>
      <% if (item.name == "Java并发编程实战"){ %>
      <li><a href="<%- config.root %><%- item.path %>" style="width:110px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
      <% } %>
      <% }); %>

      <% site.categories.sort('path').each(function(item){ %>
      <% if (item.name == "spring源码深度解析"){ %>
      <li><a href="<%- config.root %><%- item.path %>" style="width:110px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
      <% } %>
      <% }); %>

      <% site.categories.sort('path').each(function(item){ %>
      <% if (item.name == "深入理解Java虚拟机"){ %>
      <li><a href="<%- config.root %><%- item.path %>" style="width:110px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
      <% } %>
      <% }); %>

      <% site.categories.sort('path').each(function(item){ %>
      <% if (item.name == "计算机组成原理"){ %>
      <li><a href="<%- config.root %><%- item.path %>" style="width:110px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
      <% } %>
      <% }); %>

      <% site.categories.sort('path').each(function(item){ %>
      <% if (item.name == "UNIX环境高级编程"){ %>
      <li><a href="<%- config.root %><%- item.path %>" style="width:110px; display:inline-block;"><%= item.name %></a><small><%= item.posts.length %></small></li>
      <% } %>
      <% }); %>
  </ul>

  </ul>
</div>
<% } %>

<script src="<%- config.root %>js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#os_ul").click(function(){ $("#os_li").toggle(); });
});
</script>
